.tags-container {
   background-color: #AB4967;
   display: inline-flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 17vw;
   text-align: center;
   width: [object Object]px; 
	height: [object Object]px; 
	border: solid #D9D0DE 2px; 
	box-shadow: 3px 5px 12px rgba(70, 143, 163, 0.3)  ; 
	-webkit-box-shadow: 3px 5px 12px rgba(70, 143, 163, 0.3)  ; 
	-moz-box-shadow: 3px 5px 12px rgba(70, 143, 163, 0.3)  ; 
 }

.choose-sections {
  text-decoration: underline;
  color: #D9D0DE;
  
}

.tag-container {
  width: 70%;
  margin: 1vh;
  
  background-color: #0C1713;
  color: #D9D0DE;
  width: [object Object]px; 
	height: [object Object]px; 
	background: #472D47; 
	border: solid #D9D0DE 2px; 
	box-shadow: 3px 5px 12px rgba(70, 143, 163, 0.3)  ; 
	-webkit-box-shadow: 3px 5px 12px rgba(70, 143, 163, 0.3)  ; 
	-moz-box-shadow: 3px 5px 12px rgba(70, 143, 163, 0.3)  ; 
}