.tags-container {
  background-color: #AB4967;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 75vh; 
  width: 12rem;
  text-align: center;
  width: [object Object]px; 
	height: [object Object]px; 
	border: solid #D9D0DE 2px; 
	box-shadow: 3px 5px 12px rgba(70, 143, 163, 0.3)  ; 
	-webkit-box-shadow: 3px 5px 12px rgba(70, 143, 163, 0.3)  ; 
	-moz-box-shadow: 3px 5px 12px rgba(70, 143, 163, 0.3)  ; 
  overflow-y: scroll;
  margin-left: .5em;
 }

.choose-sections {
  text-decoration: underline;
  color: #D9D0DE;
  margin: 0;
  margin-top: .75em;
  
}

.tag-container {
  width: 70%;
  margin: 1vh;
  color: #D9D0DE;
  font-size: 10px;
  width: [object Object]px; 
	height: [object Object]px; 
	background: #472D47; 
	border: solid #D9D0DE 2px; 
	box-shadow: 3px 5px 12px rgba(70, 143, 163, 0.3)  ; 
	-webkit-box-shadow: 3px 5px 12px rgba(70, 143, 163, 0.3)  ; 
	-moz-box-shadow: 3px 5px 12px rgba(70, 143, 163, 0.3)  ; 
  
}

.active {
  background: #D9D0DE;
	color: #472D47; 
	border: solid #472D47 2px; 
}