.dashboard-container {
  padding: 1.7em;
  display: flex;
  justify-content: space-between;
}
.stories-container {
  /* max-height: 63vh; */
  
  /* margin-left: 2vw; */
  display: inline-flex;
  flex-direction: column;
  width: 70vw;


}
.stories {
  text-decoration: underline;
}
 .scroll-mauve {
   /* overflow-y: scroll; */
   background-color: #AB4967;
 }

 .tags-container {
   background-color: #AB4967;
   display: inline-flex;
   flex-direction: column;
   justify-content: center;
   width: 20vw;
 }