.dashboard-container {
  padding: 1.7em;
  display: flex;
  justify-content: space-between;
}
.stories-container {
  max-height: 70vh;
  display: inline-flex;
  flex-direction: column;
  width: 79vw;
  background-color: #AB4967;
  color: #D9D0DE;
  width: [object Object]px; 
	height: [object Object]px; 
	border: solid #D9D0DE 2px; 
	box-shadow: 3px 5px 12px rgba(70, 143, 163, 0.3)  ; 
	-webkit-box-shadow: 3px 5px 12px rgba(70, 143, 163, 0.3)  ; 
	-moz-box-shadow: 3px 5px 12px rgba(70, 143, 163, 0.3)  ; 


}
.stories {
  text-decoration: underline;
  text-align:center;
  margin: 0;
  margin-top: .5em;
}
 .scroll-mauve {
   overflow-y: scroll;  
 }

 .article-container {
  display: flex;
  color: #D9D0DE;
	background: #472D47; 
	border: solid #D9D0DE 2px; 
	box-shadow: 3px 5px 12px rgba(70, 143, 163, 0.3)  ; 
	-webkit-box-shadow: 3px 5px 12px rgba(70, 143, 163, 0.3)  ; 
	-moz-box-shadow: 3px 5px 12px rgba(70, 143, 163, 0.3);
  margin: .5em;
  padding-left: .5em;
  padding-right: .5em;
  text-decoration: none;
 }

.article {
  /* color:#D9D0DE; */
}
.small-image {
  width: 29px;
  margin-right: .5em;
}