#title {
  font-size: 18px;
  margin: 0;
}
#author {
  font-size: 10px;
  margin: 0;
}
#date {
  font-size: 13px;
  margin: 0;
  margin-bottom: 1em;
}

.details-link {
  color: #fafafa;
  text-decoration: none;
  text-align: center;
}

.image {
  width: 75%;
  height: 25%;
}