
.App-header {
  background-color: #A04668;  
  color: #D9D0DE;
  display: flex;
  align-items: center;
  font-size: calc(14px + 2vmin);
  font-family: 'ZCOOL KuaiLe', cursive;
  margin: 0;
  height: 9vh;
}

.radio {
  width: 2.2em;
}