
.App-header {
  background-color: #A04668;  
  display: flex;
  align-items: center;
  font-size: calc(14px + 2vmin);
  color: white;
  font-family: 'ZCOOL KuaiLe', cursive;
}

.radio {
  width: 3em;
}